@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-gray-200;
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        @apply bg-white text-primary antialiased;
        font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-serif font-bold tracking-tight;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}